@page "/"

<h1>Library Management System</h1>

Final Project for CPRG211-A<br />
<img src="images/books.jpg" alt="A library" title="A library" width="100%" />
<!-- image retrieved from https://pixabay.com/photos/a-book-books-library-literature-4007822/ -->
